<div class="section-3" >
  <div class="container">
    <div class="row" >
      <section class="carousel carousel-reviews">
        {{#if noProducts}}
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            Không có sản phẩm thoả yêu cầu.
          </div>
        </div>
        {{else}}
        <div class="carousel-title ">
          <div class="transform-please-2 ">
           <span style="font-family: all;">DANH SÁCH SẢN PHẨM</span>
         </div>
       </div>
       <div class ="container carousel-1">
        <div class="row">
          {{#each sanpham }}
          <div class = "col-md-4 li">
            <div class ="media">
              <a href="/XemChiTiet/{{Id}}">

                <img src="/upload/product/{{HinhAnh}}" width="350" height="200" alt="alt" />

              </a>
              <div class="carousel-item-content">
                <div class="text-right">
                  <a class="arrow-link" href="#"></a>
                </div>
                <a class="transform-please-2 carousel-title">
                  <span>{{TenSP}}</span>
                </a>
              </div>
            </div>
            <div class="carousel-text"></div>
            <div class="product-box">
              <a class="btn btn-default btn-black ">
                <i class="fa fa-money"></i>

                <span>$ {{number_format GiaBan}}</span>

              </a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
        </li>
        {{#each page_numbers}}
        {{#if isCurPage}}
        <li class="active"><a href="javascript:;">{{value}}</a></li>
        {{else}}
        <li><a href="?page={{value}}">{{value}}</a></li>
        {{/if}}
        {{/each}}
        <li>
          <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
        {{/if}}
      </section>

    </div>
  </div>
</div>
{{#section 'scripts'}}
<script>
  let list = sessionStorage.getItem('list');
  if (list == 'null')
    list = '';
  $('a.btn-call').on('click', function () {
    let href = window.location.href;
    let id = ${'a.btn-call'}.attr("value");
    list = list + ',' + id;
    sessionStorage.setItem('list', list);
  })
</script> {{/section}}
