  <section class="main-content " role="main">
    <div class="bg-overlay overlay-top">
      <div class="container">
        <div class="row">
          <div class="page-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Tên xe hơi -->
            <h3>{{sp.TenSP}}</h3>
            <div class="line transform-please-2"></div>
          </div>
          <div class="pb-left-column col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="clearfix" id="image-block">
              <div id="slider-product" class="flexslider">
                <ul class="slides">
                  <li> <a  href="/img/{{sp.HinhAnh}}"> <img src="/img/{{sp.HinhAnh}}" alt="alt" /></a> </li>
                  {{#each img}}
                  <li> <a  href="/img/{{picture}}"> <img src="/img/{{picture}}" alt="alt" /></a> </li>
                  {{/each}}
                </ul>
              </div>
              <div id="carousel" class="flexslider">
                <ul class="slides">
                  {{#each img}}
                  <li> <img src="/img/{{picture}}" alt="alt" /> </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="pb-center-column col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="price-line">
              <div class="price-box transform-please"><span>$ {{sp.GiaBan}} </span></div>
            </div>
            <div class="product-featured" style="font-family: all;">
              <div  class="featured-box">
                <ul  class="featured-title">
                  <li>Ngày Nhập</li>
                </ul>
                <div  class="featured-content" style="font-family: all;">{{sp.NgayNhap}}</div>
              </div>
              <div  class="featured-box">
                <ul  class="featured-title">
                  <li>Xuất xứ</li>
                </ul>
                <div  class="featured-content" style="font-family: all;">{{sp.XuatXu}}</div>
              </div>
              <div  class="featured-box">
                <ul  class="featured-title">
                  <li>Loại Xe</li>
                </ul>
                <div  class="featured-content" style="font-family: all;">{{sp.TenLoai}}</div>
              </div>
              <div  class="featured-box">
                <ul  class="featured-title">
                  <li>NSX</li>
                </ul>
                <div  class="featured-content" style="font-family: all;">{{sp.TenHang}}</div>
              </div>
              <div  class="featured-box">
                <ul  class="featured-title">
                  <li>Chi Tiết</li>
                </ul>
                <div  class="featured-content" style="font-family: all;">{{sp.ChiTiet}}</div>
              </div>
              <div class="desc">
                <ul  class="featured-title">
                  <li>Số lượt xem: <span>{{sp.LuotXem}}</span></li>
                  <li>Số lượng bán: <span>{{sp.SLBan}}</span> </li>
                </ul>
              </div>
              <div class="offer_specification"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="product-tab">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1" data-loading-text="Loading..." style="font-family: all;">Thông tin chi tiết</a></li>
              </ul><br><br>
              <p>{{sp.MoTa}}</p>
            </div>
            <section class="btn-set-section">
              {{#if user}}
              <div class="btn-set-middle">
                <hr>
                <a href="" class="btn-call"> <span> BUY THIS CAR </span></a> <a href="#" class="btn-email"> <span> MAIL US ABOUT THIS CAR </span></a>
              </div>
              {{/if}}
            </section>

            <div class="cungLoai">
             <section class="carousel-3">
              <div class="carousel-title ">
                <div class="transform-please-2 "> <span style="font-family: all;">CÙNG LOẠI</span> </div>
              </div>
              <ul>
                {{#each SPLoai}}
                <li><a href="/XemChiTiet/{{Id}}"><img alt="alt" src="/img/{{HinhAnh}}" width="170" height="120"></a>
                  <h3>{{TenSP}}</h3>
                </li>
                {{/each}}
              </ul>
            </section> 
          </div>
          <!-- End cùng loại sp -->

          <div class="cungHang">
            <section class="carousel-3">
              <div class="carousel-title ">
                <div class="transform-please-2 "> <span style="font-family: all;">CÙNG NSX</span> </div>
              </div>
              <ul>
                {{#each SPNSX}}
                <li><a href="/XemChiTiet/{{Id}}"><img alt="alt" src="/img/{{HinhAnh}}" width="170" height="120"></a>
                  <h3>{{TenSP}}</h3>
                </li>
                {{/each}}
              </ul>
            </section>
          </div>
          <!-- End cùng hãng sản xuất -->
        </div>
      </div>
    </div>
  </section>