<div class="main-content">
    {{>admin-header}}

    <hr /> {{>admin-breadcrumb}}
    <h2>{{heading}}</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="panel-body">
                    <form role="form" method="post" class="form-horizontal form-groups-bordered">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID Hóa Đơn</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" value="{{info.MaHoaDon}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên Khách Hàng</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" value="{{info.TenKhachHang}}" disabled>
                            </div>
                            <label class="col-sm-2 control-label">Id Khách hàng</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" value="{{info.IdKH}}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Địa chỉ giao hàng</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="{{info.DiaChi}}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số điện thoại người nhận</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="{{info.SDT}}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email người nhận</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="{{info.Email}}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tổng số tiền phải trả</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="{{info.TongTien}} VND" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tình trạng đơn hàng</label>
                            <div class="col-sm-9">
                                <select name="TINHTRANG" id="TINH_TRANG" class="form-control" required="required">
                                    {{#ifCond info.TinhTrang '==' '1'}}
                                    <option value="1" selected>Đã Giao</option>
                                    <option value="0">Chưa giao</option>
                                    <option value="2">Đang Giao</option>
                                    {{else}} {{#ifCond info.TinhTrang '==' '2'}}
                                    <option value="1">Đã Giao</option>
                                    <option value="0">Chưa giao</option>
                                    <option value="2" selected>Đang Giao</option>
                                    {{else}}
                                    <option value="1">Đã Giao</option>
                                    <option value="0" selected>Chưa giao</option>
                                    <option value="2">Đang Giao</option>
                                    {{/ifCond}} {{/ifCond}}

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Danh sách sản phẩm: </label>
                        </div>

                        <div class="form-group">
                            <table class="table table-bordered datatable" id="table-1">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">Mã Sản Phẩm</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá Bán</th>
                                        <th>Xuất xứ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each dsSP}}
                                    <tr class="odd gradeX">
                                        <td id="Id">{{IdSP}}</td>
                                        <td>{{TenSP}}</td>
                                        <td>{{SL}}</td>
                                        <td>{{DonGia}}</td>
                                        <td>{{XuatXu}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12" style="text-align: center;">
                                <div class="bs-example">
                                    <button type="submit" class="btn btn-green btn-icon">
                                        Cập nhật
                                        <i class="entypo-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

{{#section 'scripts'}}
<!-- Bottom scripts (common) -->
<script src="/assets/admin/js/gsap/TweenMax.min.js"></script>
<script src="/assets/admin/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/assets/admin/js/bootstrap.js"></script>
<script src="/assets/admin/js/resizeable.js"></script>
<script src="/assets/admin/js/neon-api.js"></script>
<script src="/assets/admin/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

<!-- Imported scripts on this page -->

<script src="/assets/admin/js/datatables/datatables.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="/assets/admin/js/neon-custom.js"></script>

<!-- Imported scripts on this page -->
<script src="/assets/admin/js/bootstrap-switch.min.js"></script>

<!-- Demo Settings -->
<script src="/assets/admin/js/neon-demo.js"></script>
<script>
    $(document).ready(function () {
        //bootstrap WYSIHTML5 - text editor
        $('#table-1').DataTable();
        $('div.alert').delay(5000).slideUp();
    });
</script> {{/section}}